/*
	Tersus Core CSS
	
	WordPress generated CSS classes as specified in the theme check guidelines
	http://make.wordpress.org/themes/guidelines/guidelines-theme-check/
*/

.alignleft {
	float: left;
	}

.alignright {
	float: right;
	}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.wp-caption {
	}
	
.wp-caption-text {
	}
	
.gallery-caption {
	}
	
.bypostauthor {
	}

.sticky {
	}