
/*
	Tersus Advanced Layout CSS
	This is an optional stylesheet that provides some initial layout and structure.
*/


body {
	color: #333;
	line-height: 1.4;
	margin: 0;
	padding: 2em;
}

a, a:visited {
	background: transparent;
	color: #960;
	text-decoration: none;
	}

a:hover {
	color: #333;
	background: #DDD;
	}

blockquote {
	background: #EEE;
	margin: 1em 2em;
	padding: 1em;
	}

blockquote > p:last-child {
	margin-bottom: 0;
	}

code {
	background: #DDD;
	padding: 0.3em 0.5em;
	}

.post-edit-link,
.post-edit-link:visited,
input[type=reset],
input[type=submit] {
	border: none;
	background: #AAA;
	color: #FFF;
	font-size: .8em;
	cursor: pointer;
	padding: 5px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

.post-edit-link:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	background: #333;
	color: #FFF;
	}
	
input[type=reset]:active,
input[type=submit]:active {
	background: #960;
	}

textarea,
input[type=text],
input[type=email],
input[type=url] {
	color: #333;
	border: 1px solid #AAA;
	border-radius: 3px;
	font-size: .8em;
	padding: .5em;
	}

#searchform input[type=text] {
	background: #DDD;
	color: #333;
	border: 1px solid transparent;
	width: 95%;
	}

#searchform input[type=submit] {
	display: none;
	}

header {
	border-bottom: 1px solid #AAA;
	margin: 0 0 2em 0;
	padding: 0 0 2em 0;
	}

header h1,
article h2,
#content h2 {
	background: transparent;
	font-size: 300%;
	letter-spacing: -1px;
	line-height: 1;
	margin: 0 0 .25em 0;
	padding: 0;
	}

header p {
	color: #AAA;
	margin: 0;
	padding: 0;
	}
	
#content {
	float: left;
	margin: 0;
	padding: 0 0 1em 0;
	width: 49%;
	}
#content > h1 {
	color: #960;
	font-weight: normal;
	font-size: 2em;
	line-height: 1;
	margin: 0 0 .5em;
}
#content > h1 + p {
	color: #AAA;
	font: normal 1em sans-serif;
	font-style: italic;
	margin: 0 0 2em;
}
#content article {
	border-bottom: 1px solid #AAA;
	margin: 0 0 2em 0;
	padding: 0 0 1em 0;
	}
	.post-aside p + p { display:none; }

#content article img {
	display: block;
	margin: 2em 0;
	max-width: 100%;
	}
	
aside {
	float: right;
	margin: 0;
	padding: 0 0 1em 2em;
	width: 20%;
	}

aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	}

aside ul li {
	list-style: none;
	margin:0 0 1.5em;
	}

aside ul li form,
aside ul li ul {
	margin: 0 0 2em 0;
	}

aside ul li ul li {
	margin: 0;
	}

aside ul li ul li ul {
	margin: 0 0 0 1em;
	}

aside h2 {
	border-bottom: 1px solid #AAA;
	font-size: 1em;
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
	}

footer {
	clear: both;
	padding: 2em 0;
	border-top: 1px solid #AAA;
	}
	

/*
	iPad Styles
*/

@media screen and (max-device-width: 1024px) {
	body {
		-webkit-text-size-adjust: 100%;
		padding: 1em;
	}
	
	header,
	footer {
		float: none;
		width: auto;
	}
	#content {
		float: left;
		width: 65%;
	}
	aside {
		float: right;
		clear: right;
		width: 25%;
	}
	
	#content article img {
		float: none;
	}
	
	textarea {
		max-width: 100%;
	}
}
	
	
/*
	Small Screen Styles
*/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {

	body {
		-webkit-text-size-adjust: 100%;
		padding: 1em;
	}
	
	header,
	#content,
	aside,
	footer {
		float: none;
		width: 95%;
	}
	
	aside {
		padding: 0;
	}

	#content article img {
		float: none;
	}
	
	textarea {
		max-width: 100%;
	}
}