
/*
	Tersus Super Ginormous Layout CSS
	This is an optional stylesheet that provides some initial layout and structure.
*/

body {
	background: #d9f5ff;
	color: #333;
	font: normal 100%/1.4 helvetica,arial,sans-serif;
	margin: 0;
	padding: 1.5%;
	}

a {
	text-decoration: none;
	}

a:hover {
	color: #000;
	}

#searchform input[type=text] {
	background: #fff;
	border: 1px solid transparent;
	border-radius: 20px;
	font: normal .8em sans-serif;
	padding: 2.5%;
	width: 95%;
	}

#searchform input[type=submit] {
	display: none;
	}

#announcement {
	background: #ffe100;
	color: #333;
	margin: 0 0 1%;
	padding: 1%;
	text-shadow: #fff 0 1px 0;
	}

#announcement h3 {
	font-size: .9em;
	margin: 0;
	padding: 0;
	}

#announcement p {
	font-size: .7em;
	margin: 0;
	padding: 0;
	}

header {
	background: #00afee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	margin: 0 0 1.5%;
	padding: 2.5%;
	}

header h1 {
	line-height: 1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	}

header h1 a {
	color: #fff;
	font-size: 1.2em;
	letter-spacing: -2px;
	}

header p {
	font-size: .75em;
	margin: 0;
	}
	
#content {
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	padding: 2.5%;
	width: 49%;
	}

#content article {
	margin: 0 0 10%;
	}

#content .post-aside {
	background: #e6e6e6;
	padding: 5%;
	}
	
#content article h2 {
	font-size: 2.25em;
	}

#content article h2 a {
	color: #333;
	}
	
#content .post-image img {
	background: #f7f7f7;
	border: 1px solid #e6e6e6;
	display: block;
	margin: 0 auto;
	max-width: 98%;
	}
	
#content .hentry img {
	border: 0;
	max-width: 100%;
	padding: 0;
	}
	
#sidebar-1 {
	background: #009cd4;
	}

#sidebar-2 {
	background: #08beff;
	}

aside {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: right;
	margin: 0 0 0 2%;
	padding: 1.25%;
	width: 18.5%;
	}

aside select {
	background: #fff;
	border: 3px solid rgba(255,255,255,.2);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font: normal .8em sans-serif;
	padding: 2%;
	width: 94%;
	}
	
aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	}

aside ul li {
	list-style: none !important;
	}

aside ul li form,
aside ul li select,
aside ul li ul {
	margin: 0 0 10% 0;
	}

aside ul li form select {
	margin: 0;
	}

aside ul li ul li {
	font-weight: bold;
	margin: 0;
	}

aside ul li ul li a {
	color: #fff;
	}

aside ul li ul li ul {
	margin: 0 0 0 5%;
	}

aside ul li ul li ul li {
	font-weight: normal;
	}

aside ul li ul li ul li a {
	color: #fff;
	}

aside h2 {
	background: #fff;
	box-shadow: rgba(50,50,50,.25) 2px 2px 2px;
	color: #999;
	font-size: .8em;
	margin: 0 0 5%;
	padding: 2.5% 5%;
	position: relative; left:-11%;
	text-transform: uppercase;
	width: 100%;
	}

aside h2:before {
	content: "";
	border-color: #999 #999 transparent transparent;
	border-style: solid;
	border-width: 5px;
	display: block;
	height: 0;
	position: absolute; bottom:-10px; left:0;
	width: 0;
	}

footer {
	clear: both;
	}