
/*
	Tersus Layout CSS
*/


/*
	Collapses space above and below subpage sidebar links
*/

ul li ul li ul {
	margin-top: 0;
	margin-bottom: 0;
	}


/*
	These are WordPress presentational classes left over
	from the Starkers theme. We may decide to deprecate
	these entirely, as we haven’t verified whether the
	decrufted code even generates these classes any more.
	
	More information: http://codex.wordpress.org/CSS

*/

.aligncenter {
	display: block;
	margin: 0 auto;
	}

.alignleft {
	float: left;
	}

.alignright {
	float: right;
	}

.wp-caption {
	border: 1px solid #666;
	color: inherit;
	text-align: center;
	background: #ccc;
	padding: 10px;
	margin: 10px;
	}
